<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="main">

    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <span class="w3-bar-item w3-left">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <a href="createquiz.html" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Create new quiz</a>
            <a href="joinquiz.html" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Join a quiz</a>
        </span>
        <span class="w3-bar-item w3-right">
            <a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
            &nbsp;
            <a href="register.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sing up</a>
        </span>
    </div>


</div>

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>