<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/view_quiz.css">
</head>

<body>

<div class="main">
    <div class="header">
        <div class="usernav">
            <div class="userinfo">
                <img src="../static/img/quizhub/quizhub.png" alt="">
            </div>

            <div class="authbuttons">
                    <span sec:authorize="isAuthenticated()" class="userdata">
                        <!--p>Welcome [[${#request.userPrincipal.principal.email}]]</p-->
                        <h2>
                            Welcome, <span>Marian</span> <span sec:authentication="principal.email"></span>
                        </h2>
                        <p class="logout"><a th:href="@{/logout}">Logout</a></p>
                    </span>

                <span sec:authorize="!isAuthenticated()" class="w3-bar-item w3-right">
                        <a th:href="@{/login}" class="login" role="button" aria-pressed="true">Log In</a>
                        &nbsp;
                        <a th:href="@{/register}" class="signup" role="button" aria-pressed="true">Sign Up</a>
                    </span>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div th:text="${quiz.getName()}"></div>

        <div th:if="${role == 'teacher'}">
            <div th:each="quizSession: ${quizSessions}" >
                <h2><span class="question">Student:</span></h2>
                <h3><span th:text="${quizSession.getStudent().getFullName()}"></span></h3>
                <h2><span class="question">Score:</span></h2>
                <h3><span><a th:href="@{/quizzes/session/__${quizSession.getId()}__}" th:text="${quizSession.getScore()}"></a>
                </span></h3>
            </div>
        </div>

        <div th:unless="${role == 'teacher'}">
            <form th:action="@{/quizzes/__${quiz.id}__/attemptQuiz}" method="post">
                <div class="form-textbox">
                    <input class="submit" type="submit" id="submit_quiz" value="Attempt Quiz">
                </div>
            </form>
            <h2 th:if="${quizSessions.size() > 0}"><span class="question">Past sessions</span></h2>

            <h2 th:if="${quizSessions.size() > 0}" th:each="quizSession: ${quizSessions}">
                <span class="question">Score:
                </span>

                <div class="submit">
                    <a th:href="@{/quizzes/session/__${quizSession.getId()}__}" th:text="${quizSession.getScore()}"></a>
                </div>
            </h2>
        </div>
    </div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>
<script src="../static/js/main.js"></script>
</body>

</html>