<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<div class="main">
    <div th:text="${quiz.getName()}"></div>
    <div th:if="${role == 'teacher'}">
        <div th:each="quizSession: ${quizSessions}" >
            <span>Student:</span>
            <span th:text="${quizSession.getStudent().getFullName()}"></span>
            <br/>
            <span>Score: </span>
            <span>
                <a th:href="@{/quizzes/session/__${quizSession.getId()}__}" th:text="${quizSession.getScore()}"></a>
            </span>
            <hr>
        </div>
    </div>
    <div th:unless="${role == 'teacher'}">
        <form  th:action="@{/quizzes/__${quiz.id}__/attemptQuiz}" method="post">
            <div class="form-textbox">
                <input type="submit" id="submit_quiz" value="Attempt Quiz">
            </div>
        </form>
        <div th:if="${quizSessions.size() > 0}">Past sessions:</div>
        <div th:if="${quizSessions.size() > 0}" th:each="quizSession: ${quizSessions}">
            <span>Score: </span>
            <span>
                <a th:href="@{/quizzes/session/__${quizSession.getId()}__}" th:text="${quizSession.getScore()}"></a>
            </span>
            <hr>
        </div>
    </div>
</div>

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>